body {
  margin: 0;
}

#app {
  --color1: green;
  --color2: darkgreen;
  /* --color1: #4141d6;
  --color2: darkblue; */
  --color4: gray;
  --color5: white;
  --color6: black;
  --font-family: arial;
  --font-familyEvenHeader: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --font-familyUnevenHeader: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100vh + 1px);
}

header,
main,
footer {
  width: 100%;
  overflow: hidden;
}

header .structureContainer,
main .page,
footer .structureContainer {
  width: 1200px;
  max-width: calc(100% - 30px);
  margin: auto;
  padding: 15px;
  overflow: hidden;
}

header,
footer {
  padding: 20px 0;
  color: var(--color5);
}

header {
  grid-row: 1 / 2;
  background-color: var(--color1);
}

header .structureContainer {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: var(--color5);
  font-size: 16pt;
  font-family: var(--font-family);
  text-decoration: none;
  border-right: 1px solid var(--color5);
  padding: 0 10px;
}

header nav a:first-child {
  padding-left: 0;
}

header nav a:last-child {
  padding-right: 0;
  border-right: 0;
}

header nav a.router-link-active,
header nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

main {
  grid-row: 2 / 3;
  background-color: var(--color5);
  color: var(--color6);
  font-size: 13pt;
  font-family: var(--font-family);
}

main.dark {
  --color5: black;
  --color6: white;
}

main textarea,
main input[type="text"],
main select {
  font-size: 13pt !important;
  font-family: var(--font-family) !important;
}

main p.errorMessage {
  color: var(--errorColor);
  margin: 0;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin: 0;
}

main h1 {
  font-size: 50pt;
  font-family: var(--font-familyUnevenHeader);
}

main h2 {
  font-size: 30pt;
  font-family: var(--font-familyEvenHeader);
}

main h3 {
  font-size: 24pt;
  font-family: var(--font-familyUnevenHeader);
}

main h4 {
  font-size: 18pt;
  font-family: var(--font-familyEvenHeader);
}

main h5 {
  font-size: 16pt;
  font-family: var(--font-familyUnevenHeader);
}

main h6 {
  font-size: 14pt;
  font-family: var(--font-familyEvenHeader);
}

footer {
  grid-row: 3 / 4;
  background-color: var(--color1);
}

footer .structureContainer {
  display: flex;
  justify-content: center;
}

footer p {
  margin: 0;
  font-size: 13pt;
  font-family: var(--font-family);
}