main .section {
  padding: 75px 0;
}

main .section.inner {
  padding: 0;
}

main .section.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .section.twoColumns .section.inner:first-child {
  padding-right: 25px;
  border-right: 2px solid var(--color3);
}

main .section.twoColumns .section.inner:last-child {
  padding-left: 25px;
}

@media screen and (max-width: 600px) {
  main.section {
    padding: 15px 0;
  }
}
